h1,h2,h3,p {
  margin: 0; 
  padding: 0; 
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  display: flex;
  align-items: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  width: 730px;
  margin-left: 64px;
  position: relative;
  z-index: 2;
}


.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
  line-height: 1.2;
  min-height: 150px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:nth-of-type(3n) {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 20px;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 100px;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
}

.table__text:nth-of-type(2n) {
  padding-bottom: 0;
}

.feynman {
  background-color: #f2f2f2;
  height: 890px;
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  margin-top: 100px;
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin-top: 70px;
  text-align: center;
  z-index: 1;
}

.feynman__image {
  height: 637px;
  width: 867px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme-dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.section-title_theme-dark {
  color: white;
}

.section-subtitle_theme-dark {
  color: white;
}

.kaufman__element {
  top: 0;
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  z-index: 0;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__colomns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  color: white;
  margin: 60px;
  margin-top: 40px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.footer__colomn {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo__place_footer {
  left: 0;
  top: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 0;
  bottom: 18px;
  padding-bottom: 18px;
  padding-top: 18px;
}

.footer__colomn_content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__colomn_heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer__colomn_link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__colomn_content_social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__social_icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}